{{! Handlerbars template for MLB player career pitching statistics }}
<div class="row">
  <div class="col-md-6 col-md-offset-2">

  <div class="player-career-stats">

    <table class="table table-responsive stats-table">
      <caption><h4>PITCHING Regular Season Career Stats</h4></caption>
      <thead>
        <tr>
          <th>Years</th>
          <th>G</th>
          <th>IP</th>
          <th>W</th>
          <th>L</th>
          <th>H</th>
          <th>R</th>
          <th>ER</th>
          <th>GS</th>
          <th>CG</th>
          <th>SV</th>
          <th>SHO</th>
          <th>K</th>
          <th>BB</th>
          <th>ERA</th>
        </tr>
      </thead>
      <tbody>
      {{#each this }}
      <tr>
        <td>{{Yrs}}</td>
        <td>{{G}}</td>
        <td>{{IP}}</td>
        <td>{{W}}</td>
        <td>{{L}}</td>
        <td>{{H}}</td>
        <td>{{R}}</td>
        <td>{{ER}}</td>
        <td>{{GS}}</td>
        <td>{{CG}}</td>
        <td>{{SV}}</td>
        <td>{{SHO}}</td>
        <td>{{K}}</td>
        <td>{{BB}}</td>
        <td>{{ERA}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>
  </div>
</div>
