{{! Handlerbars template for MLB team profile }}
<div class="row team-profile-row">
  <div class="col-md-6 col-md-offset-1">
      <div class="team-profile">
        <h3><span>{{name}}</span>&nbsp;<small>{{teamID}}</small><br>
          <small>{{franchise}}</small>
        </h3>
        <table class="table-responsive profile-table">
          <tr>
            <th>Initial Year:</th>
            <td>{{initialYear}}</td>
          </tr>
          <tr>
            <th>League:</th>
            <td>{{league}}</td>
          </tr>
          <tr>
            <th>Division:</th>
            <td>{{division}}</td>
          </tr>
          <tr>
            <th>Park(s):</th>
            <td>{{parks}}</td>
          </tr>
        </table>
    </div>
  </div>
</div>
